#content {
    overflow:hidden;
	padding: 0 5%;
}
#head_content{
    padding-right: 0%;
}
.head_title_news{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83%;
    margin: 0;
    padding: 3%;
    color: #ffffff;
    background: #000000a6;
    overflow: hidden;
}
.head_title_news:hover{
    color: #58677d;
}
.button_news{
    margin: 10px 0px 20px 0px;
    display: block;
    font-size: 4.4vw;
}
.menu-triger {
	background: url(menu.png) 0 0 no-repeat;
	display: block;
	width: 42px;
	height: 30px;
	position: absolute;
	right: 0px;
	top: 20px;
}	
.menu-close {
	background: url(close.png) 0 0 no-repeat;
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 100;
}
.menu-popup {
	background: #2c2e3e;
	display: none;
	position: absolute;
	right: -110%;
	top: 0;
	width: 80%;
	box-sizing: border-box;
	padding: 40px;
	z-index: 9999;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.menu-popup ul {
	margin: 60px 0px 0px 0px;
	padding: 0;
}
.menu-popup li {
	list-style: none;
	margin: 30px 0;
	padding: 0;
}
.menu-popup li a {
	font-size: 22px;
	font-family: 'Ubuntu', sans-serif;
	color: rgb(255, 255, 255);
	line-height: 0;	
	text-decoration: none;
}
.menu-popup li a:hover{
	color: #ff0000;
}
.body_pointer * {
	cursor: pointer;
}
.similar_posts{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
form label{
    color: #000000;
    float: left;
}
form input[type='text']{
    border: 1px solid #58677d;
    height: 20px;
	width: 90%;
    border-radius: 4px;
}
form input[type='email']{
    border: 1px solid #58677d;
    height: 20px;
	width: 90%;
    border-radius: 4px;
}
form input[type='submit']{
    border: 0px solid #58677d;
    height: 40px;
    background-color: #58677d;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
}
form input[type='submit']:hover{
    background-color: #ff0000;
    color: #ffffff;
}
form textarea{
    border: 1px solid #58677d;
    border-radius: 4px;
	width: 90%;
}
@media screen and (max-width: 1024px){
    #content h1 {
        margin-left: 0px;
        font-size: 1.5em;
    }
    .item {
        display: block;
        
    }
    .video_cart {
        margin-bottom: 20px;
    }
}
